.background-start-screen{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( to bottom left, rgb(70, 9, 9), rgb(216, 16, 16));
}

.logo-background{
    height: 24vh;
    max-height: 10rem;
    max-width: 25.5rem;
    width: 70vw;
    margin: 15vh auto;
    background-image: linear-gradient( to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border: 4px outset yellow;
    
    /* box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3); */
}

.logo-start{
    padding: 0;
    margin: 2vh 2vw;
    max-width: 22rem;
    width: 66vw;
}

.start-menu{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

#inputName{
    width: 60vw;
    max-width: 20rem;
    margin: 1vh auto;
    padding: 1.5vh;
    border-radius: 0.5rem;
}

.button-start{
    width: 40vw;
    max-width: 12rem;
    margin: 1vh auto;
    padding: 1.5vh;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 2px 2px 4px black;
    background-image: linear-gradient( to right, black, blue, black);
}

.button-start:hover{
    background-image: linear-gradient( to right, black, blue, blue, black);
    box-shadow: 2px 2px 8px black;
    text-shadow: 2px 2px 3px #666;
}

.button-start:active{
    margin: 1.1vh auto;
    box-shadow: 2px 0px 6px black;
}

@media screen and (min-width: 1280px) {
    .logo-background{
        max-height: 13.5rem;
    }
}