body{
    margin: 0;
    padding: 0;
}

.font{
    font-size: 3vh;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

.questions-area-background{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left bottom, blue , black);
}

.logo{
    max-height: 20vh;
    max-width: 45vw;
    margin: 4vh auto 2vh;
}

.question-look{
    background-image: linear-gradient(to bottom left,
     #ee1313 , #ba1313, #ee1313,  #ba1313, #ee1313,  #ba1313);
}

.select-look{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ba1313;
    min-width: 7vh;
    min-height: 7vh;
    margin-right: 1rem;
    margin-left: 2px;
    border-radius: 50%;
}

.correct-look{
    background-image: linear-gradient(to bottom left,
     #13ee13 , #13ba13, #13ee13,  #13ba13, #13ee13,  #13ba13);
    transition: 1000ms;
}

.question-look:hover{
    background-image: linear-gradient(to bottom left,
    #eee , #ba1313, #ee1313,  #ba1313, #ee1313,  #eee);
    box-shadow: 0 0 1rem white;
    transition: 100ms;
}

.question{
    display: flex;
    align-items: center;
    min-height: 14vh;
    max-width: 94vw;
    padding: 2vh 1vw 2vh 3vw ;
    border: 3px outset white;
    border-left: none;
    border-top-right-radius: 0.8rem ;
    border-bottom-right-radius: 0.8rem;
    color: white;
    cursor: default;
}

.answer{
    display: flex;
    align-items: center;
    margin: 1vh auto;
    width: 94vw;
    height: 6vh;
    padding: 0.5rem 0.5vw;
    border: 1.5px solid white;
    border-radius: 0.6rem;
    color: whitesmoke;
    cursor: pointer;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    min-width: 7vh;
    min-height: 7vh;
    margin: 0 1rem 0 2px;
    border-radius: 50%;
}

.number{
    margin: 0;
    bottom: 1.1rem;
    left: 0.8rem;
    color: blue;
    text-shadow: none;
    font-size: 5vh;
    text-shadow: 0 0 1rem white;
}

.gold-container{
    display: flex;
    justify-content: space-around;
    margin: 2vh 0 0;
    width: auto;
}

.screen-none{
    z-index: -1;
}

.gold{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right,
    white , yellow, white );
    width: 28vw;
    height: 6vh;
    border: none;
    border-radius: 2px;
    text-align: center;
    color: red;
    text-shadow: 1px 1px 2px red;
    transition: 300ms;
    font-size: 1.7vh;
    cursor: default;
}

.gold:hover{
    background-image: linear-gradient(to top right,
    white, yellow, white, yellow );
    box-shadow: 0 0 1rem yellow;
    text-shadow: 1px 1px 8px red;
    transition: 300ms;
}

.gold-text{
    margin: 0.5rem auto;
    text-align: center;
    color: white;
    font-size: 2.5vh;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.timer-container{
    width: 40vw;
    text-align: center;
}

.question-timer{
    color: white;
}

.confirm-modal{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.display-none{
    display: none;
}

.logo-container{
    display: flex;
    align-items: center;
}

.confirm-container{
    color: red;
    position: absolute;
    top: 0;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.01), black, rgba(0, 0, 0, 0.01));
    display: flex;
    width: 70vw;
    height:15vh;
    margin-top: 35vh;
    margin-left: 15vw;
    flex-direction: column;
    padding: 2vh 0;
    text-align: center;
}

.confirm-btn{
    padding: 0.4rem 1.2rem;
    margin: 1rem;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}

.no-color{
    background: red;
}

.yes-color{
    background: green;
}

.finished-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,
   rgb(252, 252, 145), rgb(223, 223, 22), black);
   color: white;
}

.gold-image{
    width: 30vw;
}

.btn-menu{
    width: 20vw;
    margin: -2vh auto 2vh;
    padding: 0.6vh 1.2vw;
    border: none;
    border-radius: 0.3rem;
    background-image: linear-gradient(to top left,
    #ba1313, #ee1313);
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    cursor: pointer;
}

.menu-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000080;
}

.btn-exit{
    position: absolute;
    right: 0;
    border: none;
    height: 5vh;
    width: 5vh;
    color: white;
    background: #ba1313;
    font-size: 4vh;
}

@media screen and (min-width: 900px) {
    .questions-area{
        height: 100vh;
        width: 28vw;
        border-right: 2px solid white;
    }

    .question{
        min-height: 10vh;
        padding: 3vh 1vw;
        margin-right: -0.8rem;
    }

    .answer{
        margin: 1vh 0.5vw;
        height: 5vh;
        width: auto;
    }

    .circle{
        min-width: 6vh;
        min-height: 6vh;
    }

    .select-look{
        min-width: 6vh;
        min-height: 6vh;
    }

    .number{
        font-size: 4vh;
    }

    .gold-container{
        margin: 5vh auto 0; 
    }

    .gold{
        width: 7vw;
        height: 5vh;
    }

    .btn-menu{
        display: none;
    }

    .timer-container{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 2rem;
        right: 0;
        width: 72vw;
    }

    .menu-container{
        position: absolute;
        right: 0;
        width: 72vw;
        height: 100vh;
    }

    .menu-area{
        display: flex;
        position: relative;
        width: 50vw;
        height: 60vh;
        margin: 25vh auto 0;
        border-radius: 5%;
        box-shadow: 5px 5px 2rem #000000;
    }
    
    .btn-exit{
        display: none;
    }
}