body{
    margin: 0;
    padding: 0;
}

.font{
    font-size: large;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

.questions-area-background{
    top: 0;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left, blue , black);
}

.logo{
    max-width: 50vw;
    margin: 4vh 0 2vh 8vw;
}

.question-look{
    background-image: linear-gradient(to bottom left,
     #ee1313 , #ba1313, #ee1313,  #ba1313, #ee1313,  #ba1313);
}

.select-look{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ba1313;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    margin-left: 2px;
    border-radius: 1.5rem;
}

.correct-look{
    background-image: linear-gradient(to bottom left,
     #13ee13 , #13ba13, #13ee13,  #13ba13, #13ee13,  #13ba13);
    transition: 1000ms;
}

.question-look:hover{
    background-image: linear-gradient(to bottom left,
    #eee , #ba1313, #ee1313,  #ba1313, #ee1313,  #eee);
    box-shadow: 0 0 1rem white;
    transition: 100ms;
}

.question{
    display: flex;
    height: 15vh;
    max-height: 5rem;
    max-width: 95vw;
    padding: 2vh 1vw 2vh 3vw ;
    border: 3px outset white;
    border-left: none;
    border-top-right-radius: 0.8rem ;
    border-bottom-right-radius: 0.8rem;
    color: white;
}

.answer{
    display: flex;
    align-items: center;
    margin: 1vh auto;
    width: 94vw;
    height: 2rem;
    padding: 0.5rem 0.5vw;
    border: 1.5px solid white;
    border-radius: 0.6rem;
    color: whitesmoke;
    cursor: pointer;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem 0 2px;
    border-radius: 1.5rem;
}

.number{
    /* position: relative; */
    margin: 0;
    bottom: 1.1rem;
    left: 0.8rem;
    color: blue;
    text-shadow: none;
    font-size: 1.6rem;
    text-shadow: 0 0 1rem white;
}

.gold-container{
    display: flex;
    justify-content: space-around;
    margin: 3vh 2vw; 
    max-width: 32rem;
}

.screen-none{
    z-index: -1;
}

.gold{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right,
    white , yellow, white );
    width: 25vw;
    min-width: 5rem;
    max-width: 8rem;
    height: 5vh;
    border: 2px solid yellow;
    border-radius: 2px;
    text-align: center;
    color: red;
    text-shadow: 1px 1px 2px red;
    transition: 300ms;
    font-size: 0.75rem;
}

.gold:hover{
    background-image: linear-gradient(to top right,
    white, yellow, white, yellow );
    box-shadow: 0 0 1rem yellow;
    text-shadow: 1px 1px 8px red;
    transition: 300ms;
}

.gold-text{
    margin: 0.5rem auto;
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.timer-container{
    width: 40vw;
}

.question-timer{
    color: white;
}

.confirm-modal{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.display-none{
    display: none;
}

.display-flex{
    display: flex;
}

.center{
    align-items: center;
}

.confirm-container{
    color: red;
    position: absolute;
    top: 0;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.01), black, rgba(0, 0, 0, 0.01));
    display: flex;
    width: 70vw;
    height:15vh;
    margin-top: 35vh;
    margin-left: 15vw;
    flex-direction: column;
    padding: 2vh 0;
    text-align: center;
}

.confirm-btn{
    padding: 0.4rem 1.2rem;
    margin: 1rem;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}

.no-color{
    background: red;
}

.yes-color{
    background: green;
}

.finished-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,
   rgb(252, 252, 145), rgb(223, 223, 22), black);
   color: white;
}

.gold-image{
    width: 30vw;
}

.btn-menu{
    width: 20vw;
    margin: 0.5rem 38vw;
    position: absolute;
    bottom: 0;
    padding: 0.3rem 1vw;
    border: none;
    border-radius: 0.3rem;
    background-image: linear-gradient(to top left,
    white , red, white );
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
}

.menu-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1280px) {
    .font{
        font-size: x-large;
    }

    .logo{
        max-width: 26rem;
        margin: 2vh 3vw;
    }
    
    .questions-area{
        width: 28vw;
        min-width: 32rem;
        border-right: 2px solid white;
    }

    .question{
        height: auto;
        min-height: 6rem;
        max-height: none;
        padding: 4vh 1vw;
        margin-right: -0.8rem;
    }

    .answer{
        margin: 1.5vh 1vw;
        height: 3rem;
        width: auto;
    }

    .circle{
        height: 3rem;
        width: 3rem;
    }

    .select-look{
        height: 3rem;
        width: 3rem;
    }

    .gold-container{
        margin: 5vh 1vw; 
    }

    .gold{
        font-size: 1rem;
    }

    .btn-menu{
        display: none;
    }

    .timer-container{
        position: absolute;
        top: 2rem;
        left: 50vw;
        width: 18rem;
    }

    .menu-area{
        position: relative;
        display: flex;
        background: rgba(0, 0, 0, 0.8);
        width: 56vw;
        height: 63vh;
        margin: 25vh 0 0 4vw ;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    }
    
    .btn-exit{
        display: none;
    }
}