.font{
    font-size: xx-large;
    font-family: sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

.questions-area-background{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left, blue , black);
}

.logo{
    width: 20vw;
    margin:  5vh 7.5vw;
}

.questions-container{
    position: absolute;
    top: 0;
    border-right: 2px inset whitesmoke;
    width: 35vw;
    margin-top: auto;
    height: 100vh;
}

.question-look{
    background-image: linear-gradient(to bottom left,
     #ee1313 , #ba1313, #ee1313,  #ba1313, #ee1313,  #ba1313);
}

.select-look{
    align-items: center;
    background: #ba1313;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
}

.correct-look{
    background-image: linear-gradient(to bottom left,
     #13ee13 , #13ba13, #13ee13,  #13ba13, #13ee13,  #13ba13);
    transition: 1000ms;
}

.question-look:hover{
    background-image: linear-gradient(to bottom left,
    #eee , #ba1313, #ee1313,  #ba1313, #ee1313,  #eee);
    box-shadow: 0 0 1rem white;
    transition: 100ms;
}

.question{
    display: flex;
    height: 15vh;
    width: 32vw;
    padding: 2vh 2vw;
    margin: 28vh 0 2vh;
    border: 3px outset white;
    border-left: none;
    border-top-right-radius: 0.8rem ;
    border-bottom-right-radius: 0.8rem;
    color: white;
}

.answer{
    display: flex;
    align-items: center;
    margin: 1vh 0.5vw;
    height: 2vh;
    padding: 2.5vh 0.5vw;
    border: 1.5px solid white;
    border-radius: 0.5rem;
    color: whitesmoke;
}

.circle{
    align-items: center;
    background: whitesmoke;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
}

.number{
    position: relative;
    bottom: 1.1rem;
    left: 0.8rem;
    color: blue;
    text-shadow: none;
    font-size: 1.6rem;
    text-shadow: 0 0 1rem white;
}

.gold-container{
    display: flex;
    justify-content: space-around;
    margin: 3vh 3vw; 
}

.screen-none{
    z-index: -1;
}

.gold{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right,
    white , yellow, white );
    width: 8vw;
    height: 5vh;
    border: 2px solid yellow;
    border-radius: 2px;
    text-align: center;
    color: red;
    text-shadow: 1px 1px 2px red;
    transition: 300ms;
    font-size: 1vw;
}

.gold:hover{
    background-image: linear-gradient(to top right,
    white, yellow, white, yellow );
    box-shadow: 0 0 1rem yellow;
    text-shadow: 1px 1px 8px red;
    transition: 300ms;
}

.gold-text{
    margin: 0.5rem;
    text-align: center;
    color: white;
    font-size: 1.3vw;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.question-timer{
    color: white;
    position: absolute;
    top: 0;
    left: 65vw;
    margin: 1rem;
}

.confirm-modal{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.display-none{
    display: none;
}

.confirm-container{
    color: red;
    position: absolute;
    top: 0;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.01), black, rgba(0, 0, 0, 0.01));
    display: flex;
    width: 20vw;
    height:15vh;
    margin-top: 35vh;
    margin-left: 40vw;
    flex-direction: column;
    padding: 3rem 0 0 0;
    text-align: center;
}

.confirm-btn{
    padding: 0.4rem 1.2rem;
    margin: 1rem;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}

.no-color{
    background: red;
}

.yes-color{
    background: green;
}

.finished-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,
   rgb(252, 252, 145), rgb(223, 223, 22), black);
   color: white;
}

.gold-image{
    width: 30vw;
}